/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Work+Sans:wght@600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 5rem;
  --font-semi: 600;
  /*===== Colores =====*/
  --first-color: rgba(248, 227, 46, 1);
  --second-color: rgba(197, 92, 23, 1);
  --body-bg: rgba(2, 2, 2, 1);
  /*===== Fuente y tipografia =====*/
  --body-font: "Inter", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}
/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: #fff;
  background-color: var(--body-bg);
  overflow-x: hidden !important;
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background: url(../images/homeBg.svg) center center no-repeat;
  background-size: cover;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.loading {
  height: 100vh;
  width: 100%;
  background-color: rgba(19, 19, 19, 1);
  position: fixed;
  z-index: 1000;
  top: 0;
  display: grid;
  place-items: center;

  .loader {
    transform: scale(0.5);
    display: inline-block;
    height: 1em;
    width: 2em;
    line-height: 1;
    vertical-align: middle;
    border-radius: 1em;
    transition: all 150ms linear 0s;
    color: var(--first-color);
    box-shadow: 1.618033988747495em 1.1755705045882492em 0 -0.0875em,
      0.6180339887421291em 1.9021130325928304em 0 -0.0875em,
      -0.6180339887615437em 1.9021130325865223em 0 -0.0875em,
      -1.618033988759494em 1.1755705045717344em 0 -0.0875em,
      -2em -2.041364786902785e-11em 0 -0.0875em,
      -1.6180339887354962em -1.1755705046047644em 0 -0.0875em,
      -0.6180339887227142em -1.9021130325991387em 0 -0.0875em,
      0.6180339887809577em -1.9021130325802142em 0 -0.0875em,
      1.6180339887714932em -1.1755705045552187em 0 -0.0875em;
    animation: spinDots 1000ms infinite steps(10);
  }
  @keyframes spinDots {
    0% {
      transform: scale(0.5) rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: scale(0.5) rotate(180deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: scale(0.5) rotate(360deg);
    }
  }
}

header {
  width: 100%;
  // background-color: var(--body-bg);
  position: fixed;
  top: 0;
  padding-block: 10px;
  z-index: 100;

  .container {
    height: 3rem;
    // background-color: green;

    .logo-div {
      // background-color: olive;
      a {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #f8e32e;
        img {
          width: 50px;
        }
      }
    }
    @media (max-width: 600px) {
      .nav-ul {
        display: none;
      }
    }
    .nav-ul {
      ul {
        // background-color: red;
        li {
          a {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            color: #ffffff;
            text-transform: capitalize;
          }
        }
      }
    }
    .buy-btn {
      padding: 10px 15px;
      border: 1px solid;
      border-color: var(--first-color);
      border-radius: 30px !important;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #ffffff;
      filter: drop-shadow(0px 4px 8px rgba(9, 50, 67, 0.16));
    }
  }
}

#hero {
  // min-height: 100vh;
  width: 100%;
  // background-color: red;
  padding-block: 50px;

  .container {
    .row {
      h1.title {
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 88px;
        text-transform: capitalize;
        span {
          color: var(--first-color) !important;
        }
      }
      p.info {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        /* or 200% */

        color: #ffffff;
      }
      .btn-link {
        padding: 10px 15px;
        border: 1px solid;
        border-color: var(--first-color);
        border-radius: 30px !important;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #ffffff;
        filter: drop-shadow(0px 4px 8px rgba(9, 50, 67, 0.16));
      }
      .abso-di {
        width: 121.95px;
        height: 158.72px;
        background: linear-gradient(92.86deg, #f8e32e 49.21%, #f8772e 95.06%);
        filter: blur(100px);
      }
      @media (max-width: 600px) {
        h1.title {
          font-weight: 700;
          font-size: 48px;
          line-height: 58px;
          /* or 121% */

          color: #ffffff;
        }
      }
    }
  }
}

#about {
  width: 100%;
  padding-block: 50px;

  .container {
    .row {
      h1.title {
        font-weight: 700;
        font-size: 52px;
        line-height: 64px;
        /* or 123% */
        color: #f8e32e;
        text-transform: capitalize;
      }
      @media (max-width: 600px) {
        h1.title {
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          /* or 120% */

          color: #f8e32e;
        }
        .img-col {
          order: -1;
        }
      }
      p.des {
        font-size: 16px;
        line-height: 32px;
        /* or 200% */
        color: rgba(255, 255, 255, 0.8);
        max-width: 400px;
      }
      a.btn {
        padding: 10px 15px;
        border: 1px solid;
        border-color: var(--first-color);
        border-radius: 30px !important;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #ffffff;
        filter: drop-shadow(0px 4px 8px rgba(9, 50, 67, 0.16));
      }
    }
  }
}

#tokenomics {
  width: 100%;
  // background-color: red;
  padding-block: 50px;

  .container {
    // background-color: green;

    .row {
      h1.title {
        font-size: 52px;
        line-height: 64px;
        color: #f8e32e;
        font-weight: 700;
        text-transform: capitalize;
      }
      @media (max-width: 600px) {
        h1.title {
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          /* or 120% */

          color: #f8e32e;
        }
      }
      p.des {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        /* or 200% */
        color: rgba(255, 255, 255, 0.8);
        max-width: 450px;
      }
      .token-div {
        // background-color: red;

        .tkn-card {
          // background-color: purple;

          h1 {
            font-weight: 600;
            font-size: 40px;
            line-height: 140%;
            /* or 67px */

            color: #f8e32e;
          }
          h3 {
            font-size: 20px;
            line-height: 32px;
            text-transform: capitalize;
            color: #f8e32e;
          }

          @media (max-width: 600px) {
            h1 {
              font-size: 32px;
              line-height: 140%;
              /* identical to box height, or 45px */

              color: #f8e32e;
            }
          }
        }
      }
    }
  }
}

#roadmap {
  width: 100%;
  padding-block: 50px;

  .container {
    h1.title {
      font-size: 52px;
      line-height: 64px;
      /* identical to box height, or 123% */

      color: #f8e32e;
      text-transform: capitalize;
      font-weight: 700;
      text-align: center;
    }
    .roadmap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    .milestone {
      position: relative;
      // width: 100%;
    }

    .milestone::before {
      content: "";
      position: absolute;
      left: calc(50% - 2px);
      top: -50px;
      height: 50px;
      width: 4px;
      background-color: var(--first-color);
    }

    .card {
      background: rgba(37, 35, 35, 1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 24px;
      text-align: center;
      position: relative;

      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      /* or 160% */
      height: 207px;

      text-align: center;

      color: #ffffff;

      h3 {
        font-size: 32px;
        line-height: 32px;
        /* identical to box height, or 100% */

        color: #f8e32e;
      }
    }

    .card::before {
      content: "";
      position: absolute;
      top: -8px;
      left: calc(50% - 8px);
      height: 16px;
      width: 16px;
      background-color: var(--first-color);
      outline: 2px solid #fff;
      outline-offset: 4px;
      border-radius: 50%;
    }

    .card::after {
      content: "";
      position: absolute;
      top: 8px;
      left: calc(50% - 2px);
      height: calc(100% - 8px);
      width: 4px;
      background-color: #ccc;
    }

    .card h3 {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }

    .card p {
      font-size: 18px;
      margin: 16px 0 0;
    }

    .card:last-child::after {
      display: none;
    }
  }
}

footer {
  width: 100%;
  // background-color: red;
  padding-block: 50px;

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    /* identical to box height, or 36px */

    color: #f8e32e;
  }
}
